body {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    line-height: 28px;
}

.navbar-default {
	background-color: white;
	border: white;
}

.navbar-brand {
	height: 60px;
}

.navbar-nav > li > a {
	padding-top: 21px;
}

footer {
  height: 200px;
}


/* Player */

.player {
   display: inline-block;
   width: 100%;
   padding: 5px;
}

.audiojs {
  margin-top: 23px;
  margin-left: 90px;
}