body {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    line-height: 28px;
}

.navbar-default {
	background-color: white;
	border: white;
}

.navbar-brand {
	height: 60px;
}

.navbar-nav > li > a {
	padding-top: 21px;
}