{% extends 'pages/base.html' %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-md-8">
		{% for episode in episodes %}
		<div class="post">
			<h1><a href="{% url 'post' episode.date_broadcast.year episode.date_broadcast.month episode.slug %}">{{ episode.title }}</a></h1>
			<h2><small>{{ episode.date_broadcast|date:'d F, Y' }}</small></h2>
			{{ episode.body|safe }}
			<hr />
		</div>
		{% endfor %}
		{% if is_paginated %}
	        <nav aria-label="page navigation">
	            <ul class="pager">
	                {% if page_obj.has_previous %}
	                    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
	                {% else %}
	                	<li class="previous disabled"><a href="#">Previous</a></li>
	                {% endif %}
	                	Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
	                {% if page_obj.has_next %}
	                    <li class="next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
	                {% else %}
	                	<li class="next disabled"><a href="#">Next</a></li>
	                {% endif %}
	            </ul>
	        </nav>
    		{% endif %}
	</div>
	<div class="col-xs-12 col-md-4">
	</div>
</div>


{% endblock %}